<html>
<head>
    <title>Surveillance</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/css/bootstrap2/bootstrap-switch.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/css/bootstrap2/bootstrap-switch.css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand navigation_primary" href="/">Surveillance</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link navigation_font" href="/">Home</a>
            </li>
            &nbsp; &nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link navigation_font" href="/controls">Controls</a>
            </li>
            &nbsp; &nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link navigation_font" href="/get_gifs">Movement Gifs</a>
            </li>
            &nbsp; &nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link navigation_font" href="/get_move_videos">Movement Videos</a>
            </li>
            &nbsp; &nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link navigation_font" href="/recordings">Recordings</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-right">
            <li><a class="nav-link navigation_font" href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="tab-pane m-t-60">
        <div>
            <div class="table-responsive">
                <h1>Download Movement Videos</h1>
                <br>
                <table class="table table-striped" id="tblFileList">
                    <tbody>
                    {% for item in list_of_files %}
                        <tr>
                            <td><a style="font-size: 2em" href="/send_move/{{ item }}" value="{{ item }}">{{ item }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.js"></script>

</body>
</html>